<div style="background-color: #DDD; background-repeat: no-repeat; background-size:cover;overflow: hidden; padding-bottom: 100px;min-height: 100vh;">

  <div style=" max-width:800px; margin-top: 50px; margin-bottom: 50px; margin-right:auto; margin-left: auto; background-color: #fff; padding: 30px;top: 50px; position: relative; ">
    <% if @invited_guest_identity %>
      <h2 style="text-align:center; color:#5E5E5E;">嗨，<%= "#{@invited_guest_identity.name} #{UserIdentity.human_identity_title(@invited_guest_identity.identity)}" %></h2>
      <p style="text-align: center;">您可以建立一個新的帳號，或使用現有帳號登入...</p>
      <p style="text-align: center;"><%= link_to "不是 #{@invited_guest_identity.name} 嗎？", invitations_reject_path %></p>
    <% else %>
      <h2 style="text-align:center; color:#5E5E5E;">登入</h2>
    <% end %>
    <div class="row">
      <div class="col-md-12">
        <%= link_to raw('<div class="form-actions fb-login-btn" style="margin-left: auto; margin-right: auto; margin-top:40px; margin-bottom:40px; max-width:300px; text-align: center;">Sign in with Facebook</div>'), user_omniauth_authorize_path(:facebook) %>
        <p style="text-align: center;">登入時視同您已同意本站之<a href=<%= eula_path %> target="_blank">用戶許可協議</a></p>
        <a href="#more-login-form" data-toggle="collapse">其他登入方式</a>
      </div>
    </div>
    <div id="more-login-form" class="collapse row more-login-field" style="overflow: hidden; min-height: 500px; ">
      <div class="col-md-6 registration" style="padding:40px;">
        <h2 style="text-align:center; color:#5E5E5E;">註冊</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :name, required: true, autofocus: true %>
          <% if @invited_guest_identity %>
            <%= f.input :email, required: true, input_html: { value: @invited_guest_identity.email } %>
          <% else %>
            <%= f.input :email, required: true %>
          <% end %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
          <%= f.input :password_confirmation, required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, t('helpers.submit.user.create'), class:"home-btn" %>
        </div>
      <% end %>
      </div>
      <div class="col-md-6 login" style="padding:40px;">
        <h2 style="text-align:center; color:#5E5E5E;">登入</h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs" style="color:#5E5E5E; margin:20px;">
            <%= f.input :email, required: false, autofocus: true %>
            <%= f.input :password, required: false %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            <%= f.button :submit, "登入", class:"home-btn" %>
          </div>
        <% end %>
        <div style="padding-left:20px;">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
